h1{
	text-align: center;
	color: #303030;
}

p{
	text-align: center;
}

table{
  background: #f3f3f3;
}

td{
	padding: 20px 10px 20px 10px;
	font-size: 0.8em;
	font-family: Open sans;
}

th{
	padding: 20px 10px 20px 10px;
	font-size: 0.7em;
	font-family: Verdana;
}

.col_color{
	background: #f2f2f2;
}

.row_color{
	background: #eae9e6;
}

.row_background_white{
	background: white;
}

.row_background_grey{
	background: #f9f8f5;
}